.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

.links   {   
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

body{
    background-color: grey;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
}