.color{


}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: #1F2937;
}

body {
    background-color: grey;
    color: white; 
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #3882F6;
    color: white;
    width: 72px;
}

.topintro {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;

}

.leftside {
    display: flex;
    flex-direction: column;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textpic {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.group {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
}

.say-owner {
    display: flex;
    justify-content: flex-end;
}

.bottom {
    display: flex;
}

.botf {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.sign {
    display: flex;
    align-self: center;
}

.footer{
    display: flex;
    justify-content: center;
}